.documentation-type {
	margin-left: 40px;
	margin-right: 25px;
	margin-bottom: -15px;
	padding: 10px;
	background-color: blue;
	text-decoration: underline;
	background-color: #EBF4FF;
	border-radius: 5px;
}

.documentation-container {
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 25px;
}
#btn-label {
	cursor: default;
	margin-left: 15px;
}
.title {
	color: #FF1F57;
	font-weight: bold;
	font-size: 32px;
}
.endpoint, .description {
	margin-top: 5px;
	font-size: 20px;
}
.example {
	margin-top: 10px;
}
img {
	width: 80%;
}