html, body {
  	height: 100%;
  	margin: 0;
}
body {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	background-color: #FF1F57;
}
main {
  	flex: 1;
  	background-color: transparent;
  	text-align: center;
}
.navigation-logo {
	margin-right: 15px;
}
#landing-navigation-container {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}
#landing-navigation-container button{
	font-size: 18px;
}
#white-bckg {
	padding-top: 10px;
	background-color: #FFF;
}
#landing-wrapper {
	margin-top: 25px;
	display: flex;
	justify-content: center;
}
#landing-container {
	/*width: 100%;*/
}
#landing-text-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
#landing-text-container h2 {
	font-size: 60px;
}
#data-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #FF1F57;
}
#data-container {
	/*margin-top: -10px;*/
	width: 90%;
	height: auto;
	min-height: 100px;
	/*max-height: 600px;*/
	/*border: 2px solid #FF1F57;*/
	border-radius: 5px;
	/*overflow: scroll;*/
	-webkit-transition-duration: 0.2s; /* Safari */
  	transition-duration: 0.2s;
  	padding: 10px 10px;
  	text-align: left;
  	background-color: #FFF;
}
#data-search {
	margin-top: -20px;
	margin-bottom: 5px;
	color: #FFF;
	text-align: left;
	margin-left: 5%;
	font-size: 16px;
}
.card-dynamic, .card-dynamic-tall {
	min-width: 400px;
}
.card-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-content form {
	margin-top: -40px;
}
input {
	display: block;
	margin: 0px 0px 20px 0px;
	text-align: center;
	padding: 10px 80px;
}
select {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}
#btn-wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}
#api-submit {
	display: block;
	margin: 0 auto;
	width: 300px;
}
.message-container {
	margin: 20px 10px 0px 10px;
	width: 100%;
	text-align: center;
	height: 20px;
	font-weight: bold;
	/*font-style: italic;*/
}
#footer-container {
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-bottom: 25px;
}
.about-container {
	padding: 5px;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

/* styling for admin page */
.adminpanel {
    height: 80vh;
    width: 80vw;
	border: solid;
	border-radius: 4px;
	border-color: #FF1F57;
	margin: auto;
	margin-top: 20px;
}
.adminNavbar {
	display: flex;
	justify-content: space-between;
	height: 80px;
	margin-bottom: 25px;
}
.adminNavButton {
	background-color: #EF2F5F;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.adminNavButton:hover {
	cursor: pointer;
	background-color: #FF7F9F;
}
.apilist {
	margin-top: 20px;
}